<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokedéx | Detalhes</title>
</head>
<body>
    
    <header class="container-menu">

        <h1 id="titulo-cabecalho">
            <a href="/"><img src="../img/logo.png" width="25%" alt=""></a>
        </h1>
                
    </header>

    <section id="cards-details">
        
            <div class="card-details" href="/details/index">
                
                
                <img src="<%= pokemon.imagem %>"  alt="">
                    <div id="card-decricao-details">Descrição: <%= pokemon.descricao %></div>
                    <div>Nome: <%= pokemon.nome %></div>
                    <div>Habilidade: <%= pokemon.habilidade %></div>
                    <div>Tipo: <%= pokemon.tipo %></div>
                    <div>Categoria: <%= pokemon.categoria %></div>
                    <div>Altura: <%= pokemon.altura %></div>
                    <div>Peso: <%= pokemon.peso %></div>
            
        </div>
         
    </section>

    <section id="btn-index">
        <a href="/"><img src="../img/back.png" width="15%" alt=""></a>
    </section>

    <footer class="container-rodape">
        <a href="https://github.com/leandroespindula" target="_blank">Criado por Leandro Espindula</a>
        <img id="github-logo" src="../img/github.png" alt="github" width="4%">
    </footer>

</body>
</html>