<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokedéx | Home</title>
</head>
<body>
    <nav>
        <header>
            <h1 id="tt_capa">
                <a href="/">Pokedex</a>
            </h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cadastro">Cadastro</a></li>
            </ul>     
        </header>
    </nav>
    
    <section id='cards'>

        <h2>Lista de Pokemons</h2>

        <% pokedex.forEach((pokemon)=> { %>
            <div class="card">
                <img src="<%= pokemon.imagem %>" alt="">
                <h3>
                    <%= pokemon.nome %>
                </h3>
                <p class="descricao">
                    <%= pokemon.descricao %>
                </p>
                <p>Tipo: <%= pokemon.tipo %>
                </p>
                <a id="detalhes" href="/details/<%= pokemon.id %>">Detalhes</a>
            </div>
            <% }) %>

    </section>

    <script src="./js/script.js"></script>
</body>
</html>