<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/public/img/">
    <link rel="icon" type="imagem/png" href="/public/img/pokebola.png"/>

    <title>Pokedéx | Home</title>
</head>
<body>

    <header class="container-menu">

        <h1 id="titulo-cabecalho">
            <a href="/"><img src="../img/logo.png" width="25%" alt=""></a>
        </h1>
                
    </header>

    <section id="btn-cadastro">
        <a href="/cadastro"><img src="../img/gotcha.gif" width="25%" alt=""></a>
    </section>

    <section id='cards'>

        <% pokedex.forEach((pokemon)=> { %>
            <div class="card">
                <img src="<%= pokemon.imagem %>" alt="">
                <h3>
                    <%= pokemon.nome %>
                </h3>
                <p id="card-decricao-inicial">
                    <%= pokemon.descricao %>
                </p>
                <p>Tipo: <%= pokemon.tipo %>
                </p>
                <button id="btn-detalhes">
                    <a href="/details/<%= pokemon.id %>">Detalhes</a>
                </button>
            </div>
            <% }) %>

    </section>

    <footer class="container-rodape">
        <a href="https://github.com/leandroespindula" target="_blank">Criado por Leandro Espindula</a>
        <img id="github-logo" src="../img/github.png" alt="github" width="4%">
    </footer>
    
    <script src="./js/script.js"></script>

</body>
</html>